/* GALERIA */

.galeriaTitulo {
    @include titulos;
    font-weight: $fuente-negrita;
    letter-spacing: 1px;
    padding-bottom: 50px;
    margin-left: 150px;
}

.imagenContenedor {
    width: $ancho-principal;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);

    &:hover {
        filter: brightness(1);
    }
}

.galeriaContenedorPadre {
    display: grid;
    grid-auto-rows: 300px;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    @include paddingConParametros(150px, 150px);
    padding-bottom: 150px;
    gap: 1px;
}

.galeriaContenedorInterno {
    &:nth-child(1) {
        grid-row-start: span 2;
    }

    &:nth-child(3) {
        grid-column-start: span 2;
    }

    &:nth-child(6) {
        grid-row-start: span 2;
    }

    &:nth-child(8) {
        grid-column-start: span 2;
    }
}