$color-principal: #24448A;
$color-secundario: #FFFDE4;
$ancho-principal: 100%;
$fuente-titulo: 28px;
$fuente-texto: 22px;
$fuente-pequeña: 18px;
$fuente-negrita: bold;
$fuente-titulo-responsive: 23px;
$padding-arriba: 80px;
$transicion: all 0.3s;
$texto-centrado: center;